body {
}
.heading {
    color: #009688; 
    text-align: center;
}
.trash {
    display: inline-table;
}
label:hover .trash{
    display: inline-block;
}
.invert-bar {
    /* background: pink; */
    margin:1rem;
    text-align: right;
}
.invert-color {
    cursor: pointer;
}
.night {
    background: black;
    color: white;
}
